<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>Angular Modal</title>
  <link rel="stylesheet" type="text/css"
  href="../bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="app.css">
</head>
<body ng-controller="appController as appCtrl">
<button class="btn btn-danger" ng-click="appCtrl.openModal()">
  Launch Modal
</button>

<script type="text/ng-template" id="investigationsModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title" style="color: blue;">Investigations</h3>
    </div>
    <div class="modal-body" style="overflow:auto">
      <!-- First col -->
      <div class="col-md-4" style="padding:0 5px 0 0">
        <div class="clearfix">
        <h5 class="investigation-category-heading" >Urine Analysis</h5>
        <label class="col-sm-4 test-label" ng-repeat="test in modalCtrl.investigationTests['Urine Analysis'] ">
          <input type="checkbox"
            value = "{{test}}"
            name = "{{test.category}}"
            ng-checked = 'modalCtrl.selectedTestsIds.indexOf(test.identifier) > -1'
            ng-click= modalCtrl.toggleSelection(test.identifier)
           />
           {{test.test}}
        </label>
        <hr/>
        </div>
        <div class="clearfix">
        <h5 class="investigation-category-heading">Haemotology</h5>
        <label class="col-sm-4 test-label" ng-repeat="test in modalCtrl.investigationTests['Haemotology'] ">
          <input type="checkbox"
            value = "{{test}}"
            name = "{{test.category}}"
            ng-checked = 'modalCtrl.selectedTestsIds.indexOf(test.identifier) > -1'
            ng-click= modalCtrl.toggleSelection(test.identifier)
           /> {{test.test}}
        </label>
        <hr/>
        </div>
        <div>
        <h5 class="investigation-category-heading">Serology</h5>
        <label class="col-sm-4 test-label" ng-repeat="test in modalCtrl.investigationTests['Serology'] ">
          <input type="checkbox"
            value = "{{test}}"
            name = "{{test.category}}"
            ng-checked = 'modalCtrl.selectedTestsIds.indexOf(test.identifier) > -1'
            ng-click= modalCtrl.toggleSelection(test.identifier)
           /> {{test.test}}
        </label>
        <hr/>
        </div>

      </div>
      <!-- Second col -->
      <div class="col-md-4" style="padding:0 5px 0 0">
        <div class="clearfix">
        <h5 class="investigation-category-heading">Blood Chemistry</h5>
        <label class="col-sm-4 test-label" ng-repeat="test in modalCtrl.investigationTests['Blood Chemistry'] ">
          <input type="checkbox"
            value = "{{test}}"
            name = "{{test.category}}"
            ng-checked = 'modalCtrl.selectedTestsIds.indexOf(test.identifier) > -1'
            ng-click= modalCtrl.toggleSelection(test.identifier)
           />
           {{test.test}}
        </label>
        <hr/>
        </div>
        <div class="clearfix">
        <h5 class="investigation-category-heading">Bacteriology</h5>
        <label class="col-sm-4 test-label" ng-repeat="test in modalCtrl.investigationTests['Bacteriology'] ">
          <input type="checkbox"
            value = "{{test}}"
            name = "{{test.category}}"
            ng-checked = 'modalCtrl.selectedTestsIds.indexOf(test.identifier) > -1'
            ng-click= modalCtrl.toggleSelection(test.identifier)
           />
           {{test.test}}
        </label>
        <hr/>
        </div>
      </div>
      <!-- Third col -->
      <div class="col-md-4" style="padding:0 5px 0 0">
        <div class="clearfix">
        <h5 class="investigation-category-heading" >Parasitology</h5>
        <div class="investigation-category">
        <label class="col-sm-4 test-label" ng-repeat="test in modalCtrl.investigationTests['Parasitology'] ">
          <input type="checkbox"
            value = "{{test}}"
            name = "{{test.category}}"
            ng-checked = 'modalCtrl.selectedTestsIds.indexOf(test.identifier) > -1'
            ng-click= modalCtrl.toggleSelection(test.identifier)
           />
           {{test.test}}
        </label>
        </div>
        <hr/>
        </div>
        <div class="clearfix">
        <h5 class="investigation-category-heading">Histology and cytology</h5>
        <label class="col-sm-4 test-label" ng-repeat="test in modalCtrl.investigationTests['Histology and cytology'] ">
          <input type="checkbox"
            value = "{{test}}"
            name = "{{test.category}}"
            ng-checked = 'modalCtrl.selectedTestsIds.indexOf(test.identifier) > -1'
            ng-click= modalCtrl.toggleSelection(test.identifier)
           />
           {{test.test}}
        </label>
        <hr/>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <hr/>
      <button class="btn btn-primary" type="button" ng-click="modalCtrl.ok()">
        OK
      </button>

    </div>
</script>






<script
src="../bower_components/jquery/dist/jquery.js"></script>
<script
src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script
src="../bower_components/angular/angular.js"></script>
<script
src="../bower_components/angular-bootstrap/ui-bootstrap.js"></script>
<script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="app.js"></script>
</body>
</html>