    <div class="modal-header">
        <h3 class="modal-title" style="color: blue;">Investigations</h3>
    </div>
    <div class="modal-body" style="overflow:auto">
      <!-- First col -->
      <div class="col-md-4" style="padding:0 5px 0 0">
        <div class="clearfix">
        <h5 class="investigation-category-heading" >Urine Analysis</h5>
        <label class="col-sm-4 test-label" ng-repeat="test in modalCtrl.investigationTests['Urine Analysis'] ">
          <input type="checkbox"
            value = "{{test}}"
            name = "{{test.category}}"
            ng-checked = 'modalCtrl.selectedTestsIds.indexOf(test.identifier) > -1'
            ng-click= modalCtrl.toggleSelection(test.identifier)
           />
           {{test.test}}
        </label>
        <hr/>
        </div>
        <div class="clearfix">
        <h5 class="investigation-category-heading">Haemotology</h5>
        <label class="col-sm-4 test-label" ng-repeat="test in modalCtrl.investigationTests['Haemotology'] ">
          <input type="checkbox"
            value = "{{test}}"
            name = "{{test.category}}"
            ng-checked = 'modalCtrl.selectedTestsIds.indexOf(test.identifier) > -1'
            ng-click= modalCtrl.toggleSelection(test.identifier)
           /> {{test.test}}
        </label>
        <hr/>
        </div>
        <div>
        <h5 class="investigation-category-heading">Serology</h5>
        <label class="col-sm-4 test-label" ng-repeat="test in modalCtrl.investigationTests['Serology'] ">
          <input type="checkbox"
            value = "{{test}}"
            name = "{{test.category}}"
            ng-checked = 'modalCtrl.selectedTestsIds.indexOf(test.identifier) > -1'
            ng-click= modalCtrl.toggleSelection(test.identifier)
           /> {{test.test}}
        </label>
        <hr/>
        </div>

      </div>
      <!-- Second col -->
      <div class="col-md-4" style="padding:0 5px 0 0">
        <div class="clearfix">
        <h5 class="investigation-category-heading">Blood Chemistry</h5>
        <label class="col-sm-4 test-label" ng-repeat="test in modalCtrl.investigationTests['Blood Chemistry'] ">
          <input type="checkbox"
            value = "{{test}}"
            name = "{{test.category}}"
            ng-checked = 'modalCtrl.selectedTestsIds.indexOf(test.identifier) > -1'
            ng-click= modalCtrl.toggleSelection(test.identifier)
           />
           {{test.test}}
        </label>
        <hr/>
        </div>
        <div class="clearfix">
        <h5 class="investigation-category-heading">Bacteriology</h5>
        <label class="col-sm-4 test-label" ng-repeat="test in modalCtrl.investigationTests['Bacteriology'] ">
          <input type="checkbox"
            value = "{{test}}"
            name = "{{test.category}}"
            ng-checked = 'modalCtrl.selectedTestsIds.indexOf(test.identifier) > -1'
            ng-click= modalCtrl.toggleSelection(test.identifier)
           />
           {{test.test}}
        </label>
        <hr/>
        </div>
      </div>
      <!-- Third col -->
      <div class="col-md-4" style="padding:0 5px 0 0">
        <div class="clearfix">
        <h5 class="investigation-category-heading" >Parasitology</h5>
        <div class="investigation-category">
        <label class="col-sm-4 test-label" ng-repeat="test in modalCtrl.investigationTests['Parasitology'] ">
          <input type="checkbox"
            value = "{{test}}"
            name = "{{test.category}}"
            ng-checked = 'modalCtrl.selectedTestsIds.indexOf(test.identifier) > -1'
            ng-click= modalCtrl.toggleSelection(test.identifier)
           />
           {{test.test}}
        </label>
        </div>
        <hr/>
        </div>
        <div class="clearfix">
        <h5 class="investigation-category-heading">Histology and cytology</h5>
        <label class="col-sm-4 test-label" ng-repeat="test in modalCtrl.investigationTests['Histology and cytology'] ">
          <input type="checkbox"
            value = "{{test}}"
            name = "{{test.category}}"
            ng-checked = 'modalCtrl.selectedTestsIds.indexOf(test.identifier) > -1'
            ng-click= modalCtrl.toggleSelection(test.identifier)
           />
           {{test.test}}
        </label>
        <hr/>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <hr/>
      <button class="btn btn-primary" type="button" ng-click="modalCtrl.ok()">
        OK
      </button>

    </div>
